<span>
    Haroon Khan <br>
    <a href="https://www.linkedin.com/in/haroon-khan-0101z1010/"><i class="icon fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/Haroonkhan0629"><i class="icon fa-brands fa-github"></i></a>
    <a href="https://twitter.com/"><i class="icon fa-brands fa-square-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="icon fa-brands fa-square-instagram"></i></a>
    <a href="https://www.snapchat.com/"><i class="icon fa-brands fa-square-snapchat"></i></a>
    <a href="https://www.tiktok.com/explore"><i class="icon fa-brands fa-tiktok"></i></a>
    <a href="https://discord.com/"><i class="icon fa-brands fa-discord"></i></a>
    <a href="https://www.youtube.com/channel/UCMg1NcMtkRGQmm4y_GKB0rg"><i class="icon fa-brands fa-youtube"></i></a>
</span>