<span class="footer-span">
    Haroon Khan <br>
    <a href="https://www.linkedin.com/in/haroon-khan-0101z1010/"><i class="icon fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/Haroonkhan0629"><i class="icon fa-brands fa-github"></i></a>
</span>