<li class="nav"><a class="bar active" href="/exercises/stretches">Home</a></li>
<li class="nav"><a class="bar" href="/exercises">Training</a></li>
<li class="nav"><a class="bar" href="/stretches">Recovery</a></li>
<li class="nav" style="float:right"><a class="bar" href="/about">About</a></li>
<li class="nav"><a class="bar" href="/users/new">Register</a></li>
<li class="nav"><a class="bar" href="/sessions/new">Sign-In</a></li>