<li class="nav"><a class="bar" href="/exercises/stretches">Home</a></li>
<li class="nav"><a class="bar" href="/exercises">Training</a></li>
<li class="nav"><a class="bar" href="/stretches">Recovery</a></li>
<li class="nav" style="float:right"><a class="bar active" href="/about">About</a></li>
<li class="nav"><a class="bar" href="/users/new">Registery</a></li>
<li class="nav"><a class="bar" href="/sessions/new">Log-In</a></li>
<li class="nav"><a class="bar" href="/saved">Saved</a></li>
<div class="search">
    <form action="/searches">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"><i class="search-submit"></i></button>
    </form>
  </div>