<li class="nav"><a class="bar" href="/exercises/stretches">Home</a></li>
<li class="nav"><a class="bar active" href="/exercises">Training</a></li>
<li class="nav"><a class="bar" href="/stretches">Recovery</a></li>
<li class="nav"><a class="bar" href="/saved">Saved</a></li>
<li class="header"><h1>Fit2Go</h1></li>
<li class="nav"><a class="bar" href="/users/new">Registery</a></li>
<li class="nav"><a class="bar" href="/sessions/new">Log-In</a></li>
<div class="search">
  <form action="/searches">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit"><i class="search-submit"></i></button>
  </form>
</div>
<li class="nav"><a class="bar" href="/about">About</a></li>