<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>About</title>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <%- include("./partials/listAbout.ejs") %>
        </ul>
        <h1 class="heading">Why Training and Recovery are Vital</h1>
        <div>
            <h3>Why use Fit2Go?</h3>
            <p>
                This website is not specifically made for young athletes who go to the gym, but rather a way for men and
                women of ALL
                ages to increase their knowledge on health and fitness. Those who want to make living a healthy
                lifestyle a priority will benefit from
                the information given about training and recovery. This will not only help you physically improve your
                health, but it will open up
                countless posssibilities outside of the gym where you will have improved confidence, discipline and
                focus.
            </p>
            <h3>User Friendly</h3>
            <p>
                Athletes are able to register, login, and have access to all the exercises and stretches on the website while also having the ability 
                to create their own. The convenient? Users can only update or delete their own exercises and stretches. This means that if a user 
                creates an exercise or a stretch, only they are able to go back and update it. This allows users to store their favorite exercises and stretches 
                that they've made without worrying about them being altered.
            </p>
        </div>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>