<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>About</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("./partials/listAbout.ejs") %>
        </ul>
        <h1>Why Training and Recovery are Vital</h1>
        <div class="card">
            <h3>Why to use Fit2Go?</h3>
            <p>
                This website is not specifically made for young athletes who go to the gym, but rather a way for men and women of ALL 
                ages to increase their knowledge on health and fitness. Those who want to make living a healthy lifestyle a priority will benefit from
                the information given about training and recovery. This will not only help you physically improve your health, but it will open up 
                countless posssibilities outside of the gym where you will have improved confidence, discipline and focus.
            </p>
            <h3>Vision for Growth</h3>
            <p>
                There are obviously more various other factors that go into a healthy lifestyle that aren't displayed on the app as of yet. Training and Recovery 
                are covered with a vast array of exercises and stretches, but nutrition is also just as important. The update of this application will include the 
                best foods to eat depending on your goal (fat loss, muscle growth, cleansing). The information about the foods will include the macro/micro nutrient contents 
                and what goal specific need it's best for.
            </p>
            <h3>Programs</h3>
            <p>
                There are a handful of exercises and stretches to choose from, but there is no plan on how to use them. In the following updates, there will be detailed, time 
                specific plans catered towards everyone (ranging from 2x a week for 45 min - 6x for 90 min). These programs will seperate exercising and stretching muscle groups into different days
                to optimize training and recovery. The frequency and length of the workouts will be chosen by the user depending on how available they are from work/school/hobbies. This
                allows people of all ages and occupations to have access to the same information in order to increase thier overall health and well being.
            </p>
        </div>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>