<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("./partials/listAbout.ejs") %></ul>
                <h1>Why Training and Recovery are Vital</h1>
                <div class="card">
                    <p>

                    </p>
                </div>
                <footer>
                    <%- include("./partials/footer.ejs") %>
                </footer>
    </div>
</body>

</html>