<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>About</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("./partials/listAbout.ejs") %>
        </ul>
        <h1>Why Training and Recovery are Vital</h1>
        <div class="card">
            <h3>Why use Fit2Go?</h3>
            <p>
                This website is not specifically made for young athletes who go to the gym, but rather a way for men and
                women of ALL
                ages to increase their knowledge on health and fitness. Those who want to make living a healthy
                lifestyle a priority will benefit from
                the information given about training and recovery. This will not only help you physically improve your
                health, but it will open up
                countless posssibilities outside of the gym where you will have improved confidence, discipline and
                focus.
            </p>
            <h3>User Friendly</h3>
            <p>
                
            </p>
        </div>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>