<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Exercises</h1>
    <ul>
        <% for(let i=0; i < exercises.length; i++){ %>
            <li>
                <a href="/exercises/<%=exercises[i]._id%>">
                    <%=exercises[i].name %>
                </a>
            </li>
            <% } %>
    </ul>
    <nav>
        <a href="/exercises/new">
            <button>CREATE</button>
        </a>
    </nav>
</body>

</html>