<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Home</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("./partials/listIndex.ejs") %>
        </ul>
        <h1>Health and Fitness</h1>
        <div class="card">
            <h3>Importance of Training Physically</h3>
            <p>
                Strength training is not something specific to bodybuilders or powerlifters. In fact, EVERYONE should be
                doing
                some form of resistence training. Now, this doesn't mean an 80 year old man should be bench pressing 300
                pounds (unless he wants to).
                But even light resistence training is essential for the body, no matter the age or shape.
                Resistence/Strength training not only works the muscles,
                but it strengthens the bones, tendons and ligaments which prevents joint pain/discomfort. Not only that,
                but the intensity of some Exercises
                force the heart to work harder, allowing for increased circulation and blood flow.
            </p>
            <h3>Recovery, Sleep and Nutrition</h3>
            <p>
                Obviously training is important, but not as important as recovery. When we train, we are actually
                breaking down our fibers through the
                stress of resistence training. This causes lactic acid to build up which is why most people feel very
                sore days after. To prevent this, it is
                important to eat well, sleep well and move around often. Eating high protein, nutritious foods are best
                for building muscle, along with a good
                sleep cycle to allow your body to full recover. This is because ecovery goes beyond the muscles, all the
                way to the nervous system, so proper rest is a necessity
                in order to recompensate and grow. Finally, you want to make sure you are moving around often to prevent
                lactic acid build up. Stretching is a great way
                to elongate the overly contracted(tight) muscles. Stretching also allows for fresh blood/nutrients to
                circulate through the muscles and filter out any stagnant blood. This
                speeds up the recovery process so you can train more often.
            </p>
            <h3>Outside Benefits of Training</h3>
            <p>
                The importance of training also goes beyond strength in the gym, it becomes a lifestyle and allows
                you to take on outside challenges with more confidence. When you are training, you are pushing
                your body to it's physical limit. Something even more subtle, is how far you are pushing yourself
                mentally. The ony way you can keep going physically is if you can tell yourself to keep going mentally.
                Continuing
                this process over weeks and months forces healthy habits to form and you will soon expect yourself to
                hit the gym as often as you can. This
                helps to strengthen your willpower, discipline and confidence making outside tasks much easier and more
                comfortable to deal with.
            </p>
        </div>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>