body {
  background-image: url("https://wallpapercave.com/wp/wp2483004.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: whitesmoke;
  text-align: center;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(72, 69, 69);
  overflow: hidden;
}

.navigation .search {
  float: right;
}

.navigation input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navigation .search button:hover {
  background: grey;
}

.navigation .search button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.nav {
  float: left;
}

.nav:last-child {
  border-right: none;
}

.nav .bar {
  display: block;
  color: whitesmoke;
  padding: 14px 16px;
  text-decoration: none;
}

.nav .bar:hover {
  background-color: whitesmoke;
  color: black;
}

.active {
  background-color: cadetblue;
}

.navigation .bar.active {
  background-color: cadetblue;
  color: whitesmoke;
}

footer {
  display: block;
  margin: 0 auto;
  background-color: rgb(72, 69, 69);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  max-width: 200px;
}

header {
  padding: 30px;
  background: cadetblue;
  font-size: 70px;
  font-style: oblique;
}

.card {
  background-color: rgb(72, 69, 69);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input.form[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.button {
  background-color: #4CAF50;
  padding: 5px 10px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.back {
  width: 14.5%;
  text-decoration: none;
  color: whitesmoke;
}

.edit {
  width: 12%;
  text-decoration: none;
  color: whitesmoke;
}

.create {
  width: 7.8%;
  text-decoration: none;
  color: whitesmoke;
}

.delete {
  width: 25%;
  color: whitesmoke;
  margin-right: 16px;
}

.saved {
  text-decoration: none;
}

label[for=username] {
  color: whitesmoke;
}

label[for=password] {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

.icon {
  margin-right: 30px;
  margin-top: 15px;
  transform: scale(1.8);
}

.index-list {
  text-decoration: none;
  color: whitesmoke
}

.index-list:hover {
  text-decoration: underline;
}

a {
  color: white;
}

.training {
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.index-heading {
  margin-bottom: 25px;
}

.width {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

