<head>
    <title>Log-In</title>
</head>

<%- include("../partials/newSession.ejs") %>

    <body>
        <div class="container">
            <% if (currentUser) { %>
                <h1 class="heading">Welcome <%= currentUser.username %>
                </h1>
                <div>
                    <p>
                        You are currently logged in to your account, click the button below to log out.
                    </p>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" class="user" value="LOG-OUT" class="btn-small red" />
                    </form>
                </div>
                <footer>
                    <%- include("../partials/footer.ejs") %>
                </footer>
        </div>
        <% } else { %>
            <div class="container">
                <h1 class="heading">User Log In</h1>
                <div>
                    <form action="/sessions" method="POST">
                        <fieldset>
                            <input type="text" name="username" placeholder="Username">
                        </fieldset>
                        <fieldset>
                            <input type="password" name="password" placeholder="Password">
                        </fieldset>
                        <input type="submit" class="user" value="LOG-IN">
                    </form>
                </div>
                <footer>
                    <%- include("../partials/footer.ejs") %>
                </footer>
            </div>
            <% } %>
    </body>

    </html>