<head>
    <title>Registery</title>
</head>

<%- include("../partials/newUser.ejs") %>

    <body>
        <div class="container">
            <% if (currentUser) { %>
                <h1>Welcome <%= currentUser.username %>
                </h1>
                <div class="card">
                    <p>
                        You are currently logged in to your account, click the button below to log out.
                    </p>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" class="form" value="LOG-OUT" class="btn-small red" />
                    </form>
                </div>
        </div>
        <% } else { %>
            <div class="container">
                <h1>User Registration</h1>
                <div class="card">
                    <form action="/users" method="POST">
                        <fieldset>
                            <label for="username">Username:</label>
                            <input type="text" name="username" placeholder="Username...">
                        </fieldset>
                        <fieldset>
                            <label for="password">Password:</label> <br>
                            <input type="password" name="password" placeholder="Password...">
                        </fieldset>
                        <input type="submit" class="form" value="REGISTER">
                    </form>
                </div>
                <footer>
                    <%- include("../partials/footer.ejs") %>
                </footer>
            </div>
            <% } %>
    </body>

    </html>