<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>Create</title>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1 class="heading">Add Exercise</h1>
        <div>
            <form action="/exercises" method="POST">
                <input type="text" name="name" placeholder="Exercise Name"> <br>
                <input type="text" name="muscle" placeholder="Muscle Targeted"> <br>
                <input type="number" name="difficulty" placeholder="Difficulty (1-10)"> <br>
                <input type="text" name="description" placeholder="Movement Description"> <br>
                <input type="text" name="image" placeholder="Image Address"> <br>
                <input type="number" name="saved" placeholder="1=Save:0=Unsave"> <br>
                <input class="form" type="submit" value="CREATE">
            </form>
            <a class="button back" href="/exercises">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>