<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Create</title>
</head>

<body>
    <div class="container">
        <header>Fit2Go</header>
        <ul class="navigation">
            <%- include("../partials/listExercise.ejs") %>
        </ul>
        <h1>Create Exercise</h1>
        <div class="card">
            <form action="/exercises" method="POST">
                Name: <input type="text" name="name" placeholder="Exercise Name..."> <br>
                Muscle: <input type="text" name="muscle" placeholder="Muscle Targeted..."> <br>
                Difficulty: <br> <input type="number" name="difficulty" placeholder="1-10..."> <br>
                Description: <input type="text" name="description" placeholder="Movement Description..."> <br>
                Image: <input type="text" name="image" placeholder="Image Address..."> <br>
                Save? (yes=1, no=0): <br> <input type="number" name="saved"> <br>
                <input class="form" type="submit" value="CREATE">
            </form>
            <a class ="button back" href="/exercises">BACK</a>
        </div>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
    </div>
</body>

</html>